# Ignore everything by default
*

# Exceptions for files and directories you want to track

# Jenkins plugin
!jenkins/
!jenkins/data/
!jenkins/data/plugins/
!jenkins/data/plugins/build-token-root.hpi

# Prometheus script
!prometheus/
!prometheus/start_prometheus.sh

# SonarQube plugin and script
!sonarqube/
!sonarqube/extensions/
!sonarqube/extensions/plugins/
!sonarqube/extensions/plugins/sonar-prometheus-exporter-1.0.0-SNAPSHOT.jar
!sonarqube/check_sonarqube_health.sh

# Template files
!templates/
!templates/ngrok-template.yml
!templates/prometheus-template.yml

# Docker environment and essential files
!.env
!readme.md
!config_mappings.config
!generate_config.sh
!docker-compose.yml
!start-services.sh
!.gitattributes
!.gitignore

# Ensure that empty directories containing tracked files are not ignored
!*/
